.reg-form {
    display: flex;
    flex-direction: column;
}

.reg-form-content {
    margin: 15px auto 0 auto;
    margin-left: auto;
    margin-right: auto;
}

.reg-field{
    display: flex;
    flex-direction: column;
}

.reg-field Label {
    color:white;;
    margin: 0 auto 4px auto;
}
.reg-field Input {
    height: 30px;
    width: 200px;
    margin: 0 auto 15px auto;
    background-color: #d4ebf2;
    color: #484848;
    font-size: 14px;
    font-weight: 50;
    border-radius: 15px;
    border-style: none;
    padding-left: 10px;
}



footer {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

footer button {
    margin: 0 auto 10px auto;
    height: 40px;
    width: 120px;
    background-color: white;
    border-style: none;
    border-radius: 25px;
    color: blue;
    font-size: 16px;
    font-weight: 600px;
}

footer button:hover {
    background-color: orange;
    color:white;
}

.log-link {
    color: lightblue;
    margin-left: auto;
    margin-right: auto;
}
.log-link:hover {
    color:orange;
}

@media only screen and (min-width: 600px) {
    .reg-form-content Input {
        width: 250px;
    }
}
