.LoginForm {
    display: flex;
    flex-direction: column;
}

.log-form-content {
    margin: 15px auto 0 auto;
    margin-left: auto;
    margin-right: auto;
}

.log-form-content Input {
    height: 30px;
    width: 200px;
    margin-bottom: 15px;
    background-color: #d4ebf2;
    color: #484848;
    font-size: 14px;
    font-weight: 50;
    border-radius: 15px;
    border-style: none;
    padding-left: 10px;
}

.button-section {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.log-button {
    margin: 0 auto 10px auto;
    height: 40px;
    width: 120px;
    background-color: white;
    border-style: none;
    border-radius: 25px;
    color: blue;
    font-size: 16px;
    font-weight: 600px;
}

.log-button:hover {
    background-color: orange;
    color:white;
}


@media only screen and (min-width: 600px) {
    .log-form-content Input {
        width: 250px;
    }
}