header {
    text-align: center;
    background-color:lightblue;
    margin-top: -25px;
    padding: 10px 0;
}

header .header-link {
    color: blue;
    text-decoration: none;
    font-size: 42px;
    font-family: 'Yellowtail', cursive;
}

header .header-link:hover {
    color: orange;
}